.nav {
    padding-top: 18px;
    background-color: blueviolet;
 .flex {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 &__ul li {
     margin-right: 30px;
  a {
      text-decoration: unset;
      @include sub-text;
      
  }  
 }
 &__ul {
    list-style-type: none;
 }
 .social-link {
     width: 48px;
     height: 48px;
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    opacity: 0.3;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: 8px;
 }
 .social-link a {
     margin: auto;
 }
}
