@import "./var/_index.scss";

@import "./mixin/_index.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
}
.container {
  width: 1170px;
  margin: 0 auto;
  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--a-end{
    align-items: flex-end;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  
}

@media screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 30px);
  }
  
}

@import "./sections/_img-section.scss";
@import "./sections/_nav-section.scss";
@import "./sections/_burger-menu.scss";
@import "./sections/_footer.scss";
